@use "../base/colors";

/* make all elements unclickable */
.db-bar-view svg {
  pointer-events: none;
}

/* make chosen elements interactive */
.tap {
  pointer-events: all;
  cursor: pointer;
}

.tap:hover {
  filter: drop-shadow(0 0 13px colors.$font-tertiary);
  transition: filter 0.2s;
}

.bar-el-active {
  filter: drop-shadow(0 0 10px colors.$font-tertiary);
  &:hover {
    filter: drop-shadow(0 0 10px colors.$font-tertiary);
  }
}
