@use "../base/colors";

#dash-tap {
  .item-container {
    color: colors.$font-primary;
    display: flex;
    flex-direction: column;
    margin: 0;
    gap: 0;
  }

  .item-tap {
    display: grid;
    align-items: center;
    // flex-direction: row;
    // align-items: center;
    // justify-content: space-between;
    grid-template-columns: 1fr 25% 25%;
    margin: 20px 0px 10px 0px;
    padding: 0.5rem 0.6rem;
    background-color: colors.$font-primary;
    color: colors.$font-secondary;
    border-radius: 6px;
  }

  .tap-name {
    font-size: 1rem;
    width: 100%;
    max-width: 5rem;
    justify-self: left;
  }

  .tap-percentage {
    text-shadow: none;
    font-size: 1.6rem;
    justify-self: right;
  }

  .tap-icon {
    width: 40px;
    // float: left;
    justify-self: right;
  }
}

@media only screen and (max-width: 1200px) {
  #dash-tap {
    .item-tap {
      grid-template-columns: 1fr 20% 18%;
    }

    .tap-name {
      font-size: 0.9rem;
    }
    .tap-percentage {
      font-size: 1.3rem;
    }
    .tap-icon {
      width: 25px;
    }
  }
}

@media only screen and (max-width: 1000px) {
  #dash-tap {
    .item-tap {
      grid-template-columns: 1fr;
    }
    .tap-name {
      max-width: 100%;
      text-align: center;
    }
    .tap-percentage {
      text-align: center;
      justify-self: center;
    }
    .tap-icon {
      justify-self: center;
    }
  }
}

@media only screen and (max-width: 850px) {
  #dash-tap {
    .item-container {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
    }
  }
}
