@use "../base/colors";

.db-desktop {
  display: grid;
  grid-template-columns: 22% 1fr;
  height: 100vh;

  .db-info {
    font-size: 0.9rem;
    height: 55vw;
  
    .dash-container {
      margin: 1rem;
      box-sizing: border-box;
      height: 53.1vw;
      // min-width: 230px;
      position: absolute;
      width: 25%;
      overflow-y: scroll;
      z-index: 1;
  
      .dashboard-header {
        width: 25%;
        padding: 0;
      }
    }
  }

  .db-bar-view {
    position: relative;
    .queue {
      position: absolute;
      top: 8vw;
      left: 21vw;
      width: 31vw;
      .queue-single {
        opacity: 0;
      }
    }
    .fade-in {
      animation: 0.5s linear forwards kf_fadeIn;
    }
    @keyframes kf_fadeIn {
      100% {
        opacity: 1;
      }
    }
    .customers {
      display: flex;
      position: absolute;
      top: 14vw;
      left: 8vw;
      width: 60vw;
      justify-content: space-between;

      .customer {
        visibility: hidden;
        position: relative;
        width: 6.3vw;
      }
    }
    .bartenders-at-counter {
      display: flex;
      position: absolute;
      top: 18vw;
      left: 10vw;
      width: 60vw;
      justify-content: space-between;

      .bt-at-counter {
        position: relative;
        width: 8.5vw;
      }
    }
    .bartenders-at-bar {
      display: flex;
      position: absolute;
      top: 37vw;
      left: 7.2vw;
      width: 62.8vw;
      justify-content: space-between;

      .bt-pouring {
        position: relative;
        width: 12vw;
      }
    }
    svg {
      position: absolute;
    }
    g.beer_front {
      visibility: hidden;
    }
  }
}

@media only screen and (max-width: 850px) {
    .dashboard {
      background: colors.$base;

      .db-desktop {
        display: block;

        .db-info {
          height: 100vh;
          .dash-container {
          display: block;
          margin: 0;
          padding: 1rem;
          // min-width: 414px;
          height: 100vh;
          position: relative;
          width: auto;
          overflow-y: visible;
          }
          .components {
            margin: 1rem 0 0 0;
          }
        }

        .db-bar-view {
          display: none;
        }
      

    }
  }
}

